.box{
    width: 500px;
    margin: 50px auto;
    height: 500px;
    background-color: darkgrey;
    position: relative;
}
.btn{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    color: white;
    background-color: violet;
    /*transition-property: background-color, transform;*/
    /*transition-duration: 3s, 5s; !*delays for properties*!*/
    /*transition-delay: 1s;*/
    transition: background-color 1s 1ms, transform 2s;
}
.btn:hover{
    background-color: black;
    color: red;
    transform: rotate(-360deg) scale(1.5);
}
.item{
    position: absolute;
    width: 100px;
    height: 100px;
    background: black;
    animation-name: moving;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: 3;
    /*animation-play-state: paused;*/
    /*animation-direction: reverse;*/
}
.item:hover{
    /*animation-play-state: running;*/
}
/*@keyframes moving {*/
/*    from{*/
/*        left: 0;*/
/*    }*/
/*    to{*/
/*        left: 400px;*/
/*    }*/
/*    0%{left: 0; top: 0;}*/
/*    25%{left: 200px; top: 300px; transform: scale(1.5)}*/
/*    50%{top: 100px; transform: rotate(45deg);}*/
/*    100%{left: 400px; top: 0;}*/
/*}*/

@keyframes moving {
    0%{left: 0; top: 0;}
    25%{left: 0; top: 400px;}
    50%{left: 400px; top: 400px;}
    75%{left: 400px; top: 0;}
    100%{left: 0; top: 0;}
}